*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.ding{
	width: 7.5rem;
	height: 4.78rem;
	background: #ffdf5d;
}
.neirong{
	width: 6.2rem;
	height: 9.55rem;
	background: #fff;
	box-shadow: 0 0 0.2rem rgba(255,223,93,0.75);
	position: absolute;
	margin-left: 0.65rem;
	margin-top: -1.7rem;
	border-radius: 0.1rem;
}


.neirong .denglu{
	font-size: 0.3rem;
	color: #2a2e36;
	float: left;
	margin-left: 1.39rem;
	margin-top: 0.45rem;
}
.neirong .zhuce{
	font-size: 0.3rem;
	color: rgba(42, 46, 54, 0.6);
	float: right;
	margin-right: 1.39rem;
	margin-top: 0.45rem;
}
.neirong .jiantou{
	width: 0.29rem;
	height: 0.16rem;
	display: block;
	margin-top: 1.01rem;
	margin-left: 1.52rem;
}
.neirong .hengxian{
	width: 5.72rem;
	height: 0.02rem;
	background: rgba(42, 46, 54, 0.05);
	margin-left: 0.24rem;
}

.neirong input{
	border: none;
	width: 4.94rem;
	height: 0.88rem;
	background: #fff;
	box-shadow: 0 0 0.2rem rgba(255,223,93,0.75);
	border-radius: 0.6rem;
	margin-left: 0.24rem;
	margin-top: 0.53rem;
	overflow: hidden;
	padding-left: 0.78rem;
}
.neirong img{
	width: 0.49rem;
	height: 0.42rem;
	display: block;
	margin-top: -0.65rem;
	margin-left: 0.4rem;
	float: left;
	position: absolute;
}
.neirong .mima1{
	width: 0.41rem;
	height: 0.53rem;
	display: block;
	margin-top: -0.7rem;
	float: left;
}


.neirong .kuang{
	width: 5.72rem;
	height: 0.88rem;
	background: #fff;
	box-shadow: 0 0 0.2rem rgba(255,223,93,0.75);
	border-radius: 0.6rem;
	margin-left: 0.24rem;
	margin-top: 0.53rem;
	overflow: hidden;
}
.neirong .kuang .zhanghaoo{
	width: 0.49rem;
	height: 0.42rem;
	display: block;
	margin-top: 0.23rem;
	margin-left: 0.14rem;
	float: left;
}
.neirong .kuang .zhanghaooo{
	width: 0.41rem;
	height: 0.53rem;
	display: block;
	margin-top: 0.17rem;
	margin-left: 0.17rem;
	float: left;
}
.neirong .kuang .zhanghao{
	font-size: 0.24rem;
	color: rgba(42, 46, 54, 0.6);
	float: left;
	line-height: 0.88rem;
	margin-left: 0.2rem;
}
.neirong .kuang3{
	background: #ffdf5d;
	margin-top: 2.36rem;
}
.neirong .kuang3 .denglu{
	font-size: 0.3rem;
	color: #fff;
	margin-top: 0.25rem;
	margin-left: 2.5rem;
	box-shadow: 0 0 0.2rem rgba(255,223,93,0.75);
}
.neirong .zou{
	width: 1.21rem;
	height: 0.03rem;
	background: #ffdf5d;
	float: left;
	margin-top: 0.56rem;
	margin-left: 1.15rem;
}
.neirong .wangji{
	font-size: 0.24rem;
	color: rgba(42, 46, 54, 0.9);
	float: left;
	margin-top: 0.4rem;
	margin-left: 0.18rem;
}
.neirong .you{
	width: 1.21rem;
	height: 0.03rem;
	background: #ffdf5d;
	float: left;
	margin-top: 0.56rem;
	margin-left: 0.18rem;
}

.deng{
	width: 2.96rem;
	height: 3.29rem;
	position: absolute;
	margin-top: -4.82rem;
	margin-left: 4.6rem;
}
.deng img{
	width: 2.96rem;
	height: 3.29rem;
	display: block;
}
.yizi{
	width: 1.8rem;
	height: 2.28rem;
	position: absolute;
	margin-top: 6.22rem;
	margin-left: 0.07rem;
}
.yizi .yi{
	width: 1.8rem;
	height: 2.28rem;
	display: block;
}